

.dashboard-title {
    color: red; 
    text-align: center;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.select-options {
    border: none;
    background: transparent;
    padding: 1rem;
    color: rgb(99, 97, 97);
    font-size: 1rem;
    /* border-bottom: 1px solid red; */
}

.select-options > option {
    background: rgb(150, 189, 248);
    color: white;
}