.container-home-page {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    height: 100vh auto;

}

.header-home-page {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40%;
    margin-bottom: 1rem;
}

.header-home-page > a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    padding: 0.5rem;
}

.home-page-background {
    width: 100%;
    height: 92vh;
}
.home-page-background > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    animation-name: show-background-initial;
    animation-duration: 4s;
    animation-iteration-count: initial;
    animation-timing-function: initial;
}
@keyframes show-background-initial {
    from {
        opacity: 0.3;
    }

    to {
        opacity: 1;
    }
}


.home-page-title {
    z-index: 1;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 7rem;

     animation-name: show-title-initial;
    animation-duration: 4s;
    animation-iteration-count: initial;
    animation-timing-function: initial;
}
@keyframes show-title-initial {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.1;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

.container-section-video{
    position: relative;
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
    /* border: 1px solid blue; */
}
.video {
    position: absolute;
    /* border: 1px solid rebeccapurple; */
    /* top: 0%; */
    /* left: 0%; */
    width: 100%;
    height: 100%;
    z-index: -2;
    object-fit: cover;
}

.container-show-products {
    display: grid;
    grid-template-columns: repeat( 5, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0%;
    /* left: 0%; */
    z-index: 1;
    /* overflow: hidden; */
    overflow-y: scroll;
    /* border: 1px solid red; */
}

.container-product {
    z-index: -2;
    width: 80%;
    height: 65%;
    /* border: 1px solid red; */
    
}

.container-product-photo {
    position: relative;
    z-index: -2;
    width: 100%;
    height: 100%;
    
}

.container-product-photo > img {
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.container-data {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 0.5rem;
}
.rating {
    color: #FFD700;
    margin-bottom: 0.2rem;
}
.home-page-product-name, .home-page-model {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aqua;
    margin-bottom: 0.2rem;
}
.home-page-sale-price {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(0, 255, 0);
}

.container-button-buy {
    width: 100%;
    background-color: rgb(1, 148, 1);
    padding: 0.3rem;
    text-align: center;
    cursor: pointer;
    /* margin-bottom: 5rem; */
}
.button-name-buy {
    width: 100%;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.icons-contact {
    position: fixed;
    z-index: 2;
    top: 80%;
    right: 5%;
    width: 55px;
    height: 55px;
    cursor: pointer;
}

.icon {
    width: 100%;
    height: 100%;
}


@media (max-width:700px){
    .container-show-products {
        grid-template-columns: repeat( 3, 1fr);
        grid-template-rows: auto;
    }

}